/* - - - - - css varialbes setup - - - - - */

:root {
  --incorrect-letter-colour: hsl(0, 0%, 30%);
  --extra-letter-colour: hsl(0, 0%, 30%);
  --incorrect-word-colour: hsl(0, 0%, 51%);
  --progress-colour: hsl(0, 0%, 51%);
  --background-colour: hsl(0, 0%, 11%);
}

/* - - - - - basic setup - - - - - */
html {
  font-family: 'Courier';
  font-weight: bold;
  background-color: var(--background-colour);
  color: white;
}

header {
  margin: 5rem auto;
  text-align: center;
  display: flex;
  max-width: 760px;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.options-container {
  display: flex;
  align-items: center;
}

h1 {
  color: var(--incorrect-letter-colour);
}

/* - - - - - options container buttons - - - - - */

.options-container button {
  display: block;
  background: none;
  color: gray;
  transition-property: color;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  font-size: 1em;
  border: none;
}

.options-container button:hover, .options-container button:focus {
  outline: none;
  cursor: pointer;
  color: #b5b5b5;
}

.options-container button:active {
  color: #333333;
}


/* - - - - - header stylng - - - - - */


.logo {
  margin-left: 2em;
  height: 3em;
}

/* - - - - - words container setup - - - - - */

.words-container {
  font-size: 1.5em;
  color: gray;
  max-width: 30em;
  margin: 0 auto;
}

.words-display {
  line-height: 1.5em;
}

.words-input {
  opacity: 0;
  cursor: default;
}

/* - - - - - score container styling - - - - - */

.score-container {
  font-size: 1.5em;
  text-align: center;
  color: gray;
  max-width: 30em;
  margin: 3rem auto;
  opacity: 0;
  transition: opacity ease 0.2s;
}

.score-visible {
  opacity: 1;
}

/* - - - - - caret styling and animation - - - - - */

.caret-element {
  border-width: 0;
  border-bottom-width: 0.2rem;
  border-style: solid;
  animation-duration: 0.5s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  transition-property: left, top;
  transition-timing-function: ease;
}

@keyframes blink {
  from {
    border-color: rgba(255, 255, 255, 0.2);
  }

  to {
    border-color: rgba(255, 255, 255, 1.0);
  }
}

.caret {
  white-space: pre-wrap;
}

/* - - - - - letter and word styling - - - - - */

.correct {
  color: white;
}

.incorrect {
  color: var(--incorrect-letter-colour);
}

.extra-letter {
  color: var(--extra-letter-colour);
}

.incorrect-word {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: var(--incorrect-word-colour)
}

/* - - - - - - reset button styling - - - - - */

.reset-button {
  display: block;
  margin: 2rem auto 0 auto;
  background: none;
  padding: 1em 2em;
  color: gray;
  border: 2px solid #242424;
  border-radius: 0.5em;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  font-size: 0.9em;
}

.reset-button:hover, .reset-button:focus {
  outline: none;
  background-color: #242424;
  cursor: pointer;
}

.reset-button:active {
  background-color: #191919;
  border: 2px solid #191919;
}

/* - - - - - dim setup styling - - - - - */

header, .reset-button {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  font-size: 0.9em;

}

/* - - - - - progress bar styling - - - - - */

.progress-bars-container {
  width: 100%;
  height: 0.15em;
  margin: 2rem auto;
  background-color: #333333;
}

.progress-bar {
  width: 0%;
  height: 100%;
  transition: width ease-out 0.35s;
  background-color: var(--progress-colour);
}

/* - - - - - colour selection menu styling - - - - - */

.colour-selection-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: background-color ease 0.3s;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.0);
}


.colour-buttons-container  {
  padding-top: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: start;
  flex-wrap: wrap;
}

.colour-button {
  display: block;
  color: white;
  margin: 1rem;
  padding: 1em 2em;
  border-width 2px;
  border-style: solid;
  border-radius: 0.5em;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  font-size: 0.9em;
}

.colour-button:hover, .colour-button:focus {
  outline: none;
  cursor: pointer;
}
