/* - - - - - button colour variables  - - - - - */

:root {
  --colour-banana: 50;
  --colour-apple: 360;
  --colour-mango: 23;
  --colour-milkshake: 329;
  --colour-mochi: 162;
}

/* - - - - - general button styling  - - - - - */

.colour-button {
  display: block;
  color: white;
  margin: 1rem;
  padding: 1em 2em;
  border-width 2px;
  border-style: solid;
  border-radius: 0.5em;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  font-size: 0.9em;
}

.colour-button:hover, .colour-button:focus {
  outline: none;
  cursor: pointer;
}

/* - - - - - banana  - - - - - */

button.b-classic {
  border-color: hsl(0, 0%, 61%);
  background-color: hsl(0, 0%, 21%);
}

button.b-classic:hover {
  background-color: hsl(0, 0%, 51%);
}

button.b-classic:active, button.b-classic:focus {
  background-color: hsl(0, 0%, 41%);
}

/* - - - - - banana  - - - - - */

button.b-banana {
  border-color: hsl(var(--colour-banana), 90%, 61%);
  background-color: hsl(var(--colour-banana), 50%, 21%);
}

button.b-banana:hover {
  background-color: hsl(var(--colour-banana), 50%, 51%);
}

button.b-banana:active, button.b-banana:focus {
  background-color: hsl(var(--colour-banana), 50%, 41%);
}

/* - - - - - apple  - - - - - */

button.b-apple {
  border-color: hsl(var(--colour-apple), 90%, 61%);
  background-color: hsl(var(--colour-apple), 50%, 21%);
}

button.b-apple:hover {
  background-color: hsl(var(--colour-apple), 50%, 51%);
}

button.b-apple:active, button.b-apple:focus {
  background-color: hsl(var(--colour-apple), 50%, 41%);
}

/* - - - - - mango  - - - - - */

button.b-mango {
  border-color: hsl(var(--colour-mango), 90%, 61%);
  background-color: hsl(var(--colour-mango), 50%, 21%);
}

button.b-mango:hover {
  background-color: hsl(var(--colour-mango), 50%, 51%);
}

button.b-mango:active, button.b-mango:focus {
  background-color: hsl(var(--colour-mango), 50%, 41%);
}


/* - - - - - milkshake  - - - - - */

button.b-milkshake {
  border-color: hsl(var(--colour-milkshake), 90%, 61%);
  background-color: hsl(var(--colour-milkshake), 50%, 21%);
}

button.b-milkshake:hover {
  background-color: hsl(var(--colour-milkshake), 50%, 51%);
}

button.b-milkshake:active, button.b-milkshake:focus {
  background-color: hsl(var(--colour-milkshake), 50%, 41%);
}

/* - - - - - mochi  - - - - - */

button.b-mochi {
  border-color: hsl(var(--colour-mochi), 90%, 61%);
  background-color: hsl(var(--colour-mochi), 50%, 21%);
}

button.b-mochi:hover {
  background-color: hsl(var(--colour-mochi), 50%, 51%);
}

button.b-mochi:active, button.b-mochi:focus {
  background-color: hsl(var(--colour-mochi), 50%, 41%);
}
