/* - - - - - css varialbes setup - - - - - */

:root {
  --max-width: 960px;

  --incorrect-letter-colour: hsl(0, 0%, 30%);
  --extra-letter-colour: hsl(0, 0%, 30%);
  --incorrect-word-colour: hsl(0, 0%, 51%);

  --progress-colour: hsl(335, 51%, 67%);
  --progress-background-colour: #333333;

  --background-colour: hsl(0, 0%, 11%);

  --primary-text-colour: rgb(180, 180, 180);

  --buttons-hover: #b5b5b5;
  --buttoms-active: #333333;

  --words-inactive: gray;

  --colour-primary: rgba(255, 255, 255, 1.0);;
  --colour-secondary: rgba(255, 255, 255, 0.2);
}

/* - - - - - basic setup - - - - - */
html {
  font-family: 'Courier';
  font-weight: bold;
  background-color: var(--background-colour);
  color: var(--colour-primary);
}

button {
  font-family: 'Courier';
  font-weight: bold;
}

/* - - - - - header setup - - - - - */

header {
  margin: 2rem auto;
  padding: 0 2rem;
  display: flex;
  max-width: var(--max-width);
  justify-content: space-between;
  transition: opacity ease 0.2s;
}

.logo-container {
  display: flex;
  align-items: flex-start;
}

h1 {
  color: var(--primary-text-colour);
  margin: 0;
}

.logo {
  margin-left: 2em;
  height: 3em;
}

/* - - - - - options button styling - - - - - */

.options-container button {
  padding: 0;
  margin: 0;
  background: none;
  color: var(--primary-text-colour);
  transition: color ease 0.1s;
  font-size: 1rem;
  border: none;
}

 .options-container button:focus {
   outline: none;
 }

.options-container button:hover {
  cursor: pointer;
  color: var(--buttons-hover);
}

.options-container button:active {
  color: var(--buttons-active);
}

/* - - - - - header options container setup - - - - - */

header .options-container {
  display: flex;
  flex-direction: column;
}

header .options-container ul {
  list-style: none;
  text-align: right;
  margin: 0.2rem;
}
header .options-container li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* - - - - - footer options container setup - - - - - */

.options-container {
  display: flex;
  font-size: 1em;
  flex-direction: column;
}

.options-container ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.options-container li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* - - - - - words container setup - - - - - */

.words-container {
  font-size: 1.5em;
  color: var(--words-inactive);
  max-width: var(--max-width);
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: 20vh;
}

.words-display {
  line-height: 1.5em;
}

.words-input {
  opacity: 0;
  cursor: default;
}

/* - - - - - score container styling - - - - - */

.score-container {
  font-size: 1.5em;
  text-align: center;
  color: var(--primary-text-colour);
  max-width: var(--max-width);
  padding: 0 2rem;
  margin: 3rem auto;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.2s ease, max-height 0.5s ease;
}

.score-visible {
  opacity: 1;
  max-height: 5em;
}

/* - - - - - caret styling and animation - - - - - */

.caret-element {
  border-width: 0;
  border-bottom-width: 0.2rem;
  border-style: solid;
  animation-duration: 0.5s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  transition-property: left, top;
  transition-timing-function: ease;
  transition-duration: 0.1s;
}

@keyframes blink {
  from {
    border-color: var(--colour-secondary);
  }

  to {
    border-color: var(--colour-primary);
  }
}

.caret {
  white-space: pre-wrap;
}

/* - - - - - letter and word styling - - - - - */

.correct {
  color: var(--colour-primary);
}

.incorrect {
  color: var(--incorrect-letter-colour);
}

.extra-letter {
  color: var(--extra-letter-colour);
}

.incorrect-word {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: var(--incorrect-word-colour)
}

/* - - - - - - reset button styling - - - - - */

.reset-button {
  display: block;
  margin: 2rem auto 0 auto;
  background: none;
  padding: 1em 2em;
  color: var(--primary-text-colour);
  border: 2px solid var(--buttoms-active);
  border-radius: 0.5em;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  font-size: 1em;
}

.reset-button:focus {
  outline: none;
  background-color: var(--primary-text-colour);
  color: var(--buttoms-active);
}

.reset-button:hover {
  cursor: pointer;
  background-color: var(--primary-text-colour);
  color: var(--buttoms-active);
}

.reset-button:active {
  background-color: var(--primary-text-colour);
  color: var(--buttoms-active);
}

.reset-hint {
  text-align: center;
  color: var(--primary-text-colour);
  margin: 2rem auto 0 auto;
  transition: opacity ease 0.2s;
}

/* - - - - - progress bar styling - - - - - */

.progress-bars-container {
  width: 100%;
  height: 0.15em;
  margin: 2rem auto;
  background-color: var(--buttoms-active);
}

.progress-bar {
  width: 0%;
  height: 100%;
  transition: width ease-out 0.35s;
  background-color: var(--progress-colour);
}

/* - - - - - footer styling - - - - - */

footer {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  margin: 2rem auto;
  bottom: 2rem;
  color: var(--primary-text-colour);
}

.footer-content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

footer p {
  text-align: center;
  opacity: 0.5;
}
