/* - - - - - basic setup - - - - - */
html {
  font-family: 'Courier';
  font-weight: bold;
  background-color: #1c1c1c;
  color: white;
}

header {
  margin: 5rem 0;
  text-align: center;
}

/* - - - - - words container setup - - - - - */

.words-container {
  font-size: 1.5em;
  color: gray;
  max-width: 30em;
  margin: 0 auto;
}

.words-display {
  line-height: 1.5em;
}

.words-input {
  opacity: 0;
  cursor: default;
}

/* - - - - - score container styling - - - - - */

.score-container {
  font-size: 1.5em;
  text-align: center;
  color: gray;
  max-width: 30em;
  margin: 3rem auto;
  transition: opacity ease 0.2s;
  opacity: 0;
  height: 2em;
}

.score-visible {
  opacity: 1;
}

/* - - - - - caret styling and animation - - - - - */

.caret {
  border-width: 0;
  border-bottom-width: 0.2rem;
  border-style: solid;
  animation-duration: 0.5s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  white-space: pre-wrap;
}

@keyframes blink {
  from {
    border-color: rgba(255, 255, 255, 0.2);
  }

  to {
    border-color: rgba(255, 255, 255, 1.0);
  }
}

/* - - - - - letter and word styling - - - - - */

.correct {
  color: white;
}

.incorrect {
  color: coral;
}

.extra-letter {
  color: #8f4f38;
}

.incorrect-word {
  border-bottom: coral 0.2rem solid;
}

/* - - - - - - reset button styling - - - - - */

.reset-button {
  display: block;
  margin: 2rem auto 0 auto;
  background: none;
  padding: 1em 2em;
  color: gray;
  border: 2px solid #242424;
  border-radius: 0.5em;
  transition: all ease 0.1s;
  font-size: 0.9em;
}

.reset-button:hover, .reset-button:focus {
  outline: none;
  background-color: #242424;
}

.reset-button:active {
  background-color: #191919;
  border: 2px solid #191919;
}
